.productListFilters {
  flex: 1 0 272px;
  padding: 0 24px;

  &__totalProducts {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #898989;
    margin-bottom: 5px;
  }

  &__category {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 13px;
  }

  &__filter {
    margin-bottom: 24px;
  }

  &__filterName {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &__checkbox {
    margin-bottom: 10px;
  }
}