.productListFilters {
  flex: 1 0 272px;
  padding: 0 24px;

  @media(max-width: 768px) {
    padding: 0 20px;
  }

  &__totalProducts {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #898989;
    margin-bottom: 5px;
  }

  &__category {
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 13px;

    @media(max-width: 768px) {
      font-size: 26px;
    }
  }

  &__filter {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  &__filterName {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &__checkbox {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}